body {
    font-family: "Helvetica Nueue";
    margin-top: 200px;
    background-image: url("asset/backgroundimagetoddolist11.jpg");
  }
  .container {
    max-width: 800px;
    margin: 0 auto;
  }
  h1 {
    text-align: center;
    color: black;
  }
  #taskInput {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 5px solid cyan;
    border-radius: 10px 10px;
  }
  #taskList {
    list-style: none;
    padding: 0;
    color: white;
    
  }
  #deadline{
    font-size: large;
    border: 3px solid black;
    border-radius: 10px 10px;
  }
  #priority{
    font-size: large;
    border: 3px solid black;
    border-radius: 10px 10px;
  }
  #addtask{
    margin-left: 60px;
    border: 5px solid white;
    border-radius: 10px;
    font-size: larger;
    background-color: lawngreen;
  }
